---
import style from '../assets/styles/index.module.scss';
---

<div class={style.welcome}>
	<h1>Welcome to my Portfolio!</h1>
	<p>I'm Shine Gupta, a passionate developer and designer.</p>
	<p>Explore my projects and get to know more about me.</p>
</div>

