@use './font';
@use './colour';

.welcome {
    display: flex;
    max-width: 1120px;
    padding: 2rem;
    margin-right: auto;
    margin-left: auto;
    background-color: colour.$pure-black;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;

    h1 {
        @include font.heading-large;
        margin-bottom: 1rem;
        color: colour.$rose-pink;
    }

    p {
        @include font.heading-small;
        color: colour.$soft-gray;
        line-height: 1.6;
    }
}